USE [master]
GO
/****** Object:  Database [DB_HOA_CHAT_KIEN_VUONG]    Script Date: 17/12/2021 8:48:25 CH ******/
CREATE DATABASE [DB_HOA_CHAT_KIEN_VUONG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_HOA_CHAT_KIEN_VUONG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DB_HOA_CHAT_KIEN_VUONG.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_HOA_CHAT_KIEN_VUONG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DB_HOA_CHAT_KIEN_VUONG_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_HOA_CHAT_KIEN_VUONG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_HOA_CHAT_KIEN_VUONG]
GO
/****** Object:  StoredProcedure [dbo].[CAPNHATGIA_DELETE]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|837|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[CAPNHATGIA_DELETE](@MAHH CHAR(10))
AS
BEGIN
	DELETE FROM CAPNHATGIAHANG WHERE @MAHH=CAPNHATGIAHANG.MAHANGHOA
END

GO
/****** Object:  StoredProcedure [dbo].[CHITIETPHIEUXUAT_INSERT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1252|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[CHITIETPHIEUXUAT_INSERT](
	@MAPHIEUXUAT char(10),
	@MAHANGHOA char(10),
	@TENHANG NVARCHAR(255),
	@SOLUONG INT,
	@DONGIA INT,
	@TONGTIEN INT
)
AS
BEGIN
	INSERT INTO CHITIETPHIEUXUAT
	VALUES(@MAPHIEUXUAT,@MAHANGHOA,@TENHANG,@SOLUONG,@DONGIA,@TONGTIEN)
	
END

GO
/****** Object:  StoredProcedure [dbo].[CTHD_INSERT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1137|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[CTHD_INSERT](
	@MAHOADON CHAR(10),
	@MAHANGHOA CHAR(10),
	@TENHANG NVARCHAR(255),
	@SOLUONG INT,
	@DONGIA INT
)
AS
BEGIN
	
	BEGIN
		
		INSERT INTO CHITIETHOADON
		VALUES(@MAHOADON,@MAHANGHOA,@TENHANG,@SOLUONG,@DONGIA);
	END
END

GO
/****** Object:  StoredProcedure [dbo].[CTHD_SEARCH_MAHD]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1163|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[CTHD_SEARCH_MAHD](@MAHD CHAR(10))
AS
BEGIN
	SELECT MAHOADON,CHITIETHOADON.MAHANGHOA,TENHANG,SOLUONG,DONGIA 
	FROM CHITIETHOADON
	WHERE CHITIETHOADON.MAHOADON=@MAHD
END

GO
/****** Object:  StoredProcedure [dbo].[HOADON_INSERT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1067|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[HOADON_INSERT](
	@TAIKHOAN CHAR(10),
	@MAHOADON CHAR(10),
	@SODIENTHOAI CHAR(10),
	@TENKHACHHANG NVARCHAR(50),
	@GIOITINH NVARCHAR(5),
	@NGAYSINH DATETIME,
	@DIACHI NVARCHAR(100),
	@EMAIL CHAR(255),
	@MANHANVIEN CHAR(10),
	@NGAYTAO DATETIME,
	@TONGTIEN INT,
	@THANHTIEN INT,
	@THANHTOAN NVARCHAR(50),
	@GHICHU NVARCHAR(255),
	@TRANGTHAI NVARCHAR(50)
)
AS
BEGIN
	IF(NOT EXISTS( SELECT MAHOADON FROM HOADON WHERE @MAHOADON=MAHOADON))
	BEGIN
		DECLARE @NS DATE
			SET @NS=(SELECT CONVERT(DATE, @NGAYSINH))
		DECLARE @NT DATE
			SET @NT=(SELECT CONVERT(DATE, @NGAYTAO))
		INSERT INTO HOADON
		VALUES(@TAIKHOAN,@MAHOADON,@SODIENTHOAI,@TENKHACHHANG,@GIOITINH,@NS,@DIACHI,@EMAIL,@MANHANVIEN,@NT,NULL,@TONGTIEN,@THANHTIEN,@THANHTOAN, @GHICHU,@TRANGTHAI);
	END
END

GO
/****** Object:  StoredProcedure [dbo].[HOADON_SEARCH]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1105|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[HOADON_SEARCH](@MATK CHAR(10))
AS
BEGIN
	SELECT * FROM HOADON WHERE HOADON.MATK=@MATK
END

GO
/****** Object:  StoredProcedure [dbo].[HOADON_SEARCH_MAHD]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1155|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql


CREATE PROCEDURE [dbo].[HOADON_SEARCH_MAHD](@MAHD CHAR(10))
AS
BEGIN
	SELECT * FROM HOADON WHERE HOADON.MAHOADON=@MAHD
END

GO
/****** Object:  StoredProcedure [dbo].[HOADON_SEARCH_TT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1112|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[HOADON_SEARCH_TT](@MATK CHAR(10),@TRANGTHAI NVARCHAR(50))
AS
BEGIN
	SELECT * FROM HOADON
	WHERE HOADON.MATK=@MATK AND TRANGTHAI=@TRANGTHAI 
END

GO
/****** Object:  StoredProcedure [dbo].[HOADON_SEARCH_TT1]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1120|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[HOADON_SEARCH_TT1](@TRANGTHAI NVARCHAR(50))
AS
BEGIN
	SELECT * FROM HOADON
	WHERE TRANGTHAI=@TRANGTHAI 
END

GO
/****** Object:  StoredProcedure [dbo].[HOADON_SELECT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1098|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[HOADON_SELECT]
AS
BEGIN
	SELECT * FROM HOADON
END

GO
/****** Object:  StoredProcedure [dbo].[HOADON_TT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1128|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[HOADON_TT](@TRANGTHAI NVARCHAR(50))
AS
BEGIN
	SELECT HOADON.MAHOADON,NGAYTAO,NGAYGIAO,MAHANGHOA,CHITIETHOADON.TENHANG,SOLUONG,THANHTOAN,GHICHU,THANHTIEN 
	FROM HOADON,CHITIETHOADON  
	WHERE TRANGTHAI=@TRANGTHAI and HOADON.MAHOADON=CHITIETHOADON.MAHOADON
END

GO
/****** Object:  StoredProcedure [dbo].[HOADON_UPDATE_NGAYGIAO]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1182|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[HOADON_UPDATE_NGAYGIAO](@MAHD CHAR(10),@NGAYGIAO DATETIME)
AS
BEGIN
	DECLARE @NG DATE
			SET @NG=(SELECT CONVERT(DATE, @NGAYGIAO))
	UPDATE HOADON
	SET NGAYGIAO=@NG
	WHERE MAHOADON=@MAHD
END

GO
/****** Object:  StoredProcedure [dbo].[HOADON_UPDATE_TT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1172|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[HOADON_UPDATE_TT](@MAHD CHAR(10),@TRANGTHAI NVARCHAR(50),@MANHANVIEN CHAR(10))
AS
BEGIN
	UPDATE HOADON
	SET TRANGTHAI=@TRANGTHAI,
		MANHANVIEN=@MANHANVIEN
	WHERE MAHOADON=@MAHD
END

GO
/****** Object:  StoredProcedure [dbo].[HOADON_UPDATE_TT1]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1193|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[HOADON_UPDATE_TT1](@MAHD CHAR(10),@TRANGTHAI NVARCHAR(50))
AS
BEGIN
	UPDATE HOADON
	SET TRANGTHAI=@TRANGTHAI
	WHERE MAHOADON=@MAHD
END

GO
/****** Object:  StoredProcedure [dbo].[KHACHHANG_INSERT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1006|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

/*PROCEDURE KHÁCH HÀNG*/

CREATE PROCEDURE [dbo].[KHACHHANG_INSERT](
	@SODT CHAR(10),
	@TENKH NVARCHAR(50),
	@GT NVARCHAR(5),
	@NGAYSINH DATETIME,
	@DC NVARCHAR(100),
	@MAIL NVARCHAR(255)
)
AS 
BEGIN
	IF(NOT EXISTS( SELECT SODIENTHOAI FROM KHACHHANG WHERE @SODT=SODIENTHOAI))
	BEGIN
		DECLARE @NS DATE
			SET @NS=(SELECT CONVERT(DATE, @NGAYSINH))
		INSERT INTO KHACHHANG
		VALUES(@SODT,@TENKH,@GT,@NS,@DC,@MAIL);
	END
END

GO
/****** Object:  StoredProcedure [dbo].[KhachHang_Select_All]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1028|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[KhachHang_Select_All](@SDT CHAR(10))
AS
BEGIN
	SELECT SODIENTHOAI,MATKHAU,TENKHACHHANG,GIOITINH,NGAYSINH,DIACHI,EMAIL,PHANQUYEN.CHITIET,TAIKHOAN.MAQUYEN 
	FROM TAIKHOAN,PHANQUYEN,KHACHHANG 
	WHERE TAIKHOAN.MATAIKHOAN=KHACHHANG.SODIENTHOAI AND TAIKHOAN.MAQUYEN=PHANQUYEN.MAQUYEN 
	AND KHACHHANG.SODIENTHOAI=@SDT
END

GO
/****** Object:  StoredProcedure [dbo].[LOAIHANG_SELECT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|900|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

/* PROCEDURE LOAI HANG */

CREATE PROCEDURE [dbo].[LOAIHANG_SELECT]
AS
BEGIN
	SELECT * FROM LOAIHANG
END

GO
/****** Object:  StoredProcedure [dbo].[NHACC_SELECT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|890|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql


/* PROCEDURE NHACUNG CAP */

CREATE PROCEDURE [dbo].[NHACC_SELECT]
AS
BEGIN
	SELECT * FROM NHACUNGCAP
END

GO
/****** Object:  StoredProcedure [dbo].[NHANVIEN_DELETE]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|947|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[NHANVIEN_DELETE](@MANV CHAR(10))
AS
BEGIN
	DELETE FROM NHANVIEN WHERE MANHANVIEN=@MANV
END

GO
/****** Object:  StoredProcedure [dbo].[NHANVIEN_INSERT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|969|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[NHANVIEN_INSERT](
	@MANHANVIEN CHAR(10),
	@HOTEN NVARCHAR(50),
	@GIOITINH NVARCHAR(5),
	@NGAYSINH DATETIME,
	@ANH NVARCHAR(50),
	@DIACHI NVARCHAR(50),
	@DIENTHOAI CHAR(11),
	@EMAIL CHAR(255)
)
AS
BEGIN
	IF(NOT EXISTS( SELECT MANHANVIEN FROM NHANVIEN WHERE @MANHANVIEN=MANHANVIEN))
	BEGIN
		DECLARE @NS DATE
			SET @NS=(SELECT CONVERT(DATE, @NGAYSINH))
		INSERT INTO NHANVIEN
		VALUES(@MANHANVIEN,@HOTEN,@GIOITINH,@NS,@ANH,@DIACHI,@DIENTHOAI,@EMAIL);
	END
END

GO
/****** Object:  StoredProcedure [dbo].[Nhanxet_Select_All]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1047|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql


/*Nhận xét*/
CREATE PROCEDURE [dbo].[Nhanxet_Select_All]
AS
BEGIN
	SELECT NHANXET.SODIENTHOAI,TENKHACHHANG,HANGHOA.MAHANGHOA,TENHANGHOA, NOIDUNG,DIEM
	FROM KHACHHANG,NHANXET,HANGHOA
	WHERE NHANXET.SODIENTHOAI=KHACHHANG.SODIENTHOAI AND HANGHOA.MAHANGHOA=NHANXET.MAHANGHOA
END

GO
/****** Object:  StoredProcedure [dbo].[Nhanxet_Select_MaSP]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1058|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[Nhanxet_Select_MaSP](@MASP CHAR(10))
AS
BEGIN
	SELECT NHANXET.SODIENTHOAI,TENKHACHHANG,HANGHOA.MAHANGHOA,TENHANGHOA,NGAY, NOIDUNG,DIEM
	FROM KHACHHANG,NHANXET,HANGHOA
	WHERE NHANXET.SODIENTHOAI=KHACHHANG.SODIENTHOAI AND HANGHOA.MAHANGHOA=NHANXET.MAHANGHOA AND NHANXET.MAHANGHOA=@MASP
END

GO
/****** Object:  StoredProcedure [dbo].[PHIEUHUY_INSERT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1202|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

/*PROCEDURE PHIẾU HỦY*/

CREATE PROCEDURE [dbo].[PHIEUHUY_INSERT](
	@MAPHIEUHUY CHAR(10),
	@NGAYHUY DATETIME,
	@LYDOHUY NVARCHAR(255),
	@MANHANVIEN CHAR(10),
	@GHICHU NVARCHAR(255)
)
AS
BEGIN
	IF(NOT EXISTS( SELECT MAPHIEUHUY FROM PHIEUHUY WHERE MAPHIEUHUY=@MAPHIEUHUY))
	BEGIN
		DECLARE @NH DATE
			SET @NH=(SELECT CONVERT(DATE, @NGAYHUY))
		INSERT INTO PHIEUHUY
		VALUES(@MAPHIEUHUY,@NH,@LYDOHUY,@MANHANVIEN,@GHICHU)
	END
END

GO
/****** Object:  StoredProcedure [dbo].[PHIEUHUY_SELECT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1223|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[PHIEUHUY_SELECT](@MAPH CHAR(10))
AS
BEGIN
	SELECT* FROM PHIEUHUY WHERE MAPHIEUHUY=@MAPH
	
END

GO
/****** Object:  StoredProcedure [dbo].[PHIEUNHAP_SELECT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1298|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

/*PROCEDURE PHIẾU NHẬP HÀNG*/
CREATE PROCEDURE [dbo].[PHIEUNHAP_SELECT]
AS
BEGIN
	SELECT* FROM PHIEUNHAP
END

GO
/****** Object:  StoredProcedure [dbo].[PHIEUNHAP_SELECT_ALL]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1306|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql


CREATE PROCEDURE [dbo].[PHIEUNHAP_SELECT_ALL](@MAPHIEUNHAP CHAR(10))
AS
BEGIN
	SELECT PHIEUNHAP.MAPHIEUNHAP,NGAYNHAP,TONGSONHAP,PHIEUNHAP.TONGTIEN,MANHANVIEN,HANGHOA.MAHANGHOA,SOLUONG,DONGIA,CHITIETPHIEUNHAP.TONGTIEN AS'THANHTIENNHAP',TENHANGHOA
	FROM PHIEUNHAP,CHITIETPHIEUNHAP,HANGHOA
	WHERE PHIEUNHAP.MAPHIEUNHAP = CHITIETPHIEUNHAP.MAPHIEUNHAP AND PHIEUNHAP.MAPHIEUNHAP=@MAPHIEUNHAP
		AND CHITIETPHIEUNHAP.MAHANGHOA=HANGHOA.MAHANGHOA
END

GO
/****** Object:  StoredProcedure [dbo].[PHIEUXUAT_INSERT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1231|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql


/*PROCEDURE PHIẾU XUẤT HÀNG*/
CREATE PROCEDURE [dbo].[PHIEUXUAT_INSERT](
	@MAPHIEUXUAT CHAR(10),
	@NGAYXUAT DATETIME,
	@MANHANVIEN CHAR(10)
)
AS
BEGIN
	IF(NOT EXISTS( SELECT MAPHIEUXUAT FROM PHIEUXUAT WHERE @MAPHIEUXUAT=MAPHIEUXUAT))
	BEGIN
		DECLARE @NX DATE
			SET @NX=(SELECT CONVERT(DATE, @NGAYXUAT))
		INSERT INTO PHIEUXUAT
		VALUES(@MAPHIEUXUAT,@NX,0,0,@MANHANVIEN)
		UPDATE HOADON
		SET NGAYGIAO=@NGAYXUAT WHERE MAHOADON=@MAPHIEUXUAT
	END
END

GO
/****** Object:  StoredProcedure [dbo].[PHIEUXUAT_SELECT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1280|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[PHIEUXUAT_SELECT]
AS
BEGIN
	SELECT* FROM PHIEUXUAT
	
END

GO
/****** Object:  StoredProcedure [dbo].[PHIEUXUAT_SELECTALL]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1288|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[PHIEUXUAT_SELECTALL](@MAPHIEUXUAT CHAR(10))
AS
BEGIN
	SELECT PHIEUXUAT.MAPHIEUXUAT,NGAYXUAT,TONGSOXUAT,MANHANVIEN,MAHANGHOA,TENHANG,SOLUONG,DONGIA 
	FROM PHIEUXUAT,CHITIETPHIEUXUAT
	WHERE PHIEUXUAT.MAPHIEUXUAT=CHITIETPHIEUXUAT.MAPHIEUXUAT AND PHIEUXUAT.MAPHIEUXUAT=@MAPHIEUXUAT
	
END

GO
/****** Object:  StoredProcedure [dbo].[PHIEUXUAT_UPDATESL]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1268|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[PHIEUXUAT_UPDATESL](
	@MAPHIEUXUAT CHAR(10)
)
AS
BEGIN
	UPDATE PHIEUXUAT
	SET TONGSOXUAT=(SELECT SUM(SOLUONG) FROM CHITIETPHIEUXUAT WHERE CHITIETPHIEUXUAT.MAPHIEUXUAT=@MAPHIEUXUAT),
		PHIEUXUAT.TONGTIEN=(SELECT SUM(SOLUONG*DONGIA) FROM CHITIETPHIEUXUAT WHERE CHITIETPHIEUXUAT.MAPHIEUXUAT=@MAPHIEUXUAT)
	
END

GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_DELETE]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|830|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[SANPHAM_DELETE](@MAHH CHAR(10))
AS
BEGIN
	DELETE FROM HANGHOA WHERE @MAHH=MAHANGHOA
END

GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_INSERT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|684|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

/*PROCEDURE VỀ HÓA CHẤT*/

CREATE PROCEDURE [dbo].[SANPHAM_INSERT]
(
	@MAHANGHOA CHAR(10),
	@TENHANGHOA NVARCHAR(255),
	@GIA INT,
	@MANHACUNGCAP CHAR(10),
	@XUATSU NVARCHAR(255),
	@QUYCACH NVARCHAR(255),
	@MALOAI CHAR(10),
	@TINHTRANG INT,
	@MOTA NVARCHAR(500),
	@NGAYSANXUAT DATETIME,
	@HANSUDUNG DATETIME,
	@IMGAGESPATH NVARCHAR(500)
	)
AS
BEGIN
	
	IF NOT EXISTS(SELECT * FROM HANGHOA WHERE MAHANGHOA=@MAHANGHOA)
	BEGIN
		DECLARE @NGAYSX DATE,
			@HANSD DATE
		SET @NGAYSX=(SELECT CONVERT(DATE, @NGAYSANXUAT))
		SET @HANSD=(SELECT CONVERT(DATE, @HANSUDUNG))
		INSERT INTO HANGHOA
		VALUES(@MAHANGHOA,@TENHANGHOA,@GIA,@MANHACUNGCAP,@XUATSU,@QUYCACH,@MALOAI,@TINHTRANG,@MOTA,@NGAYSX,@HANSD,@IMGAGESPATH);
		
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_KTRA]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|883|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[SANPHAM_KTRA](@MAHH CHAR(10))
AS
BEGIN
	SELECT * FROM HANGHOA WHERE MAHANGHOA=@MAHH
END

GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_SEARCH]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|717|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql


CREATE PROCEDURE [dbo].[SANPHAM_SEARCH]
@SEARCH varchar(255)
AS
BEGIN
	SELECT HANGHOA.MAHANGHOA,TENHANGHOA,HANGHOA.GIA,XUATXU,QUYCACH,HANSUDUNG,TENLINHVUC,TENLOAI,IMGAGESPATH,TINHTRANG
	FROM HANGHOA,NHACUNGCAP,LOAIHANG,LINHVUC
	WHERE HANGHOA.TENHANGHOA LIKE @SEARCH
END

GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_SELECT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|717|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql


CREATE PROCEDURE [dbo].[SANPHAM_SELECT]
AS
BEGIN
	SELECT HANGHOA.MAHANGHOA,TENHANGHOA,HANGHOA.GIA,XUATXU,QUYCACH,HANSUDUNG,TENLINHVUC,TENLOAI,IMGAGESPATH,TINHTRANG
	FROM HANGHOA,NHACUNGCAP,LOAIHANG,LINHVUC
	WHERE HANGHOA.MANHACUNGCAP=NHACUNGCAP.MANHACUNGCAP AND HANGHOA.MALOAI=LOAIHANG.MALOAI AND 
	LOAIHANG.MALINHVUC=LINHVUC.MALINHVUC
END

GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_SELECT_GIA]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|738|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql


CREATE PROCEDURE [dbo].[SANPHAM_SELECT_GIA](@MIN INT,@MAX INT)
AS
BEGIN
	SELECT HANGHOA.MAHANGHOA,TENHANGHOA,HANGHOA.GIA,XUATXU,QUYCACH,HANSUDUNG,TENLINHVUC,TENLOAI,IMGAGESPATH 
	FROM HANGHOA,NHACUNGCAP,LOAIHANG,LINHVUC
	WHERE HANGHOA.MANHACUNGCAP=NHACUNGCAP.MANHACUNGCAP AND HANGHOA.MALOAI=LOAIHANG.MALOAI AND 
	LOAIHANG.MALINHVUC=LINHVUC.MALINHVUC AND GIA>=@MIN AND GIA <=@MAX
END

GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_SELECT_GIASP]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|818|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[SANPHAM_SELECT_GIASP](@MAHANGHOA CHAR(10))
AS
BEGIN
	SELECT GIA FROM CAPNHATGIAHANG
	WHERE CAPNHATGIAHANG.MAHANGHOA=@MAHANGHOA 
		and DATEDIFF(DAY,NGAYCAPNHAT,GETDATE())=(SELECT MIN(DATEDIFF(DAY,NGAYCAPNHAT,GETDATE()))
			FROM CAPNHATGIAHANG 
			where MAHANGHOA=@MAHANGHOA
			GROUP BY MAHANGHOA)
END

GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_SELECT_LOAI]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|749|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql


CREATE PROCEDURE [dbo].[SANPHAM_SELECT_LOAI](@MALOAI CHAR(10))
AS
BEGIN
	SELECT MAHANGHOA, TENHANGHOA,HANGHOA.GIA,TENNHACUNGCAP,QUYCACH,HANSUDUNG,TENLOAI,IMGAGESPATH,TINHTRANG
	FROM HANGHOA,NHACUNGCAP,LOAIHANG
	WHERE HANGHOA.MANHACUNGCAP=NHACUNGCAP.MANHACUNGCAP AND HANGHOA.MALOAI=LOAIHANG.MALOAI AND HANGHOA.MALOAI=@MALOAI
END

GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_SELECT_MALINHVUC]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|779|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[SANPHAM_SELECT_MALINHVUC](@MALINHVUC CHAR(10))
AS
BEGIN
	SELECT HANGHOA.MAHANGHOA,TENHANGHOA,HANGHOA.GIA,XUATXU,QUYCACH,HANSUDUNG,TENLOAI,TENLINHVUC,IMGAGESPATH,TINHTRANG
	FROM HANGHOA,NHACUNGCAP,LOAIHANG,LINHVUC
	WHERE HANGHOA.MANHACUNGCAP=NHACUNGCAP.MANHACUNGCAP AND HANGHOA.MALOAI=LOAIHANG.MALOAI
	AND LINHVUC.MALINHVUC=LOAIHANG.MALINHVUC AND LINHVUC.MALINHVUC=@MALINHVUC
END

GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_SELECT_MALOAI]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|769|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[SANPHAM_SELECT_MALOAI](@MALOAI CHAR(10))
AS
BEGIN
	SELECT HANGHOA.MAHANGHOA,TENHANGHOA,HANGHOA.GIA,XUATXU,QUYCACH,HANSUDUNG,TENLOAI,IMGAGESPATH,TINHTRANG
	FROM HANGHOA,NHACUNGCAP,LOAIHANG,LINHVUC
	WHERE HANGHOA.MANHACUNGCAP=NHACUNGCAP.MANHACUNGCAP AND HANGHOA.MALOAI=LOAIHANG.MALOAI
	AND LINHVUC.MALINHVUC=LOAIHANG.MALINHVUC AND LOAIHANG.MALOAI=@MALOAI
END

GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_SELECT_MASP]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|728|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[SANPHAM_SELECT_MASP](@MASP CHAR(10))
AS
BEGIN
	SELECT HANGHOA.MAHANGHOA,TENHANGHOA,HANGHOA.GIA,XUATXU,QUYCACH,HANSUDUNG,TENLINHVUC,TENLOAI,IMGAGESPATH 
	FROM HANGHOA,NHACUNGCAP,LOAIHANG,LINHVUC
	WHERE HANGHOA.MANHACUNGCAP=NHACUNGCAP.MANHACUNGCAP AND HANGHOA.MALOAI=LOAIHANG.MALOAI AND 
	LOAIHANG.MALINHVUC=LINHVUC.MALINHVUC AND HANGHOA.MAHANGHOA=@MASP
END

GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_SELECT_TENSP]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|811|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[SANPHAM_SELECT_TENSP]
AS
BEGIN
	SELECT TENHANGHOA FROM HANGHOA
END

GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_SELECTFULL]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|759|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[SANPHAM_SELECTFULL](@MAHH CHAR(10))
AS
BEGIN
	SELECT HANGHOA.MAHANGHOA,TENHANGHOA,HANGHOA.GIA,HANGHOA.MANHACUNGCAP,TENNHACUNGCAP,XUATXU,QUYCACH,LINHVUC.MALINHVUC,HANGHOA.MALOAI,TINHTRANG,MOTA,NGAYSANXUAT,HANSUDUNG,TENLOAI,IMGAGESPATH,TINHTRANG
	FROM HANGHOA,NHACUNGCAP,LOAIHANG,LINHVUC
	WHERE HANGHOA.MANHACUNGCAP=NHACUNGCAP.MANHACUNGCAP AND HANGHOA.MALOAI=LOAIHANG.MALOAI AND HANGHOA.MAHANGHOA=@MAHH
	AND LINHVUC.MALINHVUC=LOAIHANG.MALINHVUC
END

GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_UPDATE]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|844|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[SANPHAM_UPDATE]
(
	@MAHANGHOA CHAR(10),
	@TENHANGHOA NVARCHAR(255),
	@MANHACUNGCAP CHAR(10),
	@XUATSU NVARCHAR(255),
	@QUYCACH NVARCHAR(255),
	@MALOAI CHAR(10),
	@MOTA NVARCHAR(500),
	@NGAYSANXUAT DATETIME,
	@HANSUDUNG DATETIME,
	@IMGAGESPATH NVARCHAR(500)
	)
AS
BEGIN
	
	IF EXISTS(SELECT * FROM HANGHOA WHERE MAHANGHOA=@MAHANGHOA)
	BEGIN
		
		DECLARE @NSX DATE
			SET @NSX=(SELECT CONVERT(DATE, @NGAYSANXUAT))
		DECLARE @HSD DATE
			SET @HSD=(SELECT CONVERT(DATE, @HANSUDUNG))
		UPDATE HANGHOA
		SET TENHANGHOA=@TENHANGHOA,
			MANHACUNGCAP=@MANHACUNGCAP,
			XUATXU=@XUATSU,
			QUYCACH=@QUYCACH,
			MALOAI=@MALOAI,
			MOTA=@MOTA,
			NGAYSANXUAT=@NSX,
			HANSUDUNG=@HSD,
			IMGAGESPATH=@IMGAGESPATH
		WHERE MAHANGHOA=@MAHANGHOA
		SELECT * FROM HANGHOA WHERE MAHANGHOA=@MAHANGHOA
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_UPDATE_GIA]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|789|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[SANPHAM_UPDATE_GIA]
AS
BEGIN
	UPDATE HANGHOA
	SET HANGHOA.GIA =(SELECT CAPNHATGIAHANG.GIA FROM CAPNHATGIAHANG
	WHERE CAPNHATGIAHANG.MAHANGHOA=HANGHOA.MAHANGHOA
		and DATEDIFF(DAY,NGAYCAPNHAT,GETDATE())=(SELECT MIN(DATEDIFF(DAY,NGAYCAPNHAT,GETDATE()))
			FROM CAPNHATGIAHANG 
			where MAHANGHOA=HANGHOA.MAHANGHOA
			GROUP BY MAHANGHOA))
END

GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_UPDATE_SL]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|802|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[SANPHAM_UPDATE_SL](@MAHH CHAR(10),@SL INT)
AS
BEGIN
	UPDATE HANGHOA
	SET HANGHOA.TINHTRANG = TINHTRANG - @SL
	WHERE MAHANGHOA=@MAHH 
END

GO
/****** Object:  StoredProcedure [dbo].[TaiKhoam_Change]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TaiKhoam_Change]
(
	@MATK CHAR(10),
	@MK NVARCHAR(255)
	)
AS
BEGIN
UPDATE TAIKHOAN
	SET MATKHAU = @MK
			
		WHERE MATAIKHOAN=@MATK
END

GO
/****** Object:  StoredProcedure [dbo].[TaiKhoam_Check]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TaiKhoam_Check]
(
	@MATK CHAR(10)
	)
AS
BEGIN
SELECT [MATAIKHOAN] FROM TAIKHOAN 
	WHERE TAIKHOAN.MATAIKHOAN=@MATK
END

GO
/****** Object:  StoredProcedure [dbo].[TaiKhoam_Update]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TaiKhoam_Update]
(
	@MATK CHAR(10),
	@HINHANH NVARCHAR(255),
	@HOTEN NVARCHAR(255),
	@SODIENTHOAI CHAR(10)
	)
AS
BEGIN
IF(EXISTS( SELECT TAIKHOAN.MATAIKHOAN FROM TAIKHOAN WHERE MATAIKHOAN=@MATK))
BEGIN
UPDATE TAIKHOAN
	SET HINHANH=@HINHANH,
			HOTEN=@HOTEN,
			SODIENTHOAI=@SODIENTHOAI
			
		WHERE MATAIKHOAN=@MATK
		SELECT [MATAIKHOAN]
      ,[MAQUYEN],[HINHANH],[HOTEN],[SODIENTHOAI] FROM TAIKHOAN 
	WHERE TAIKHOAN.MATAIKHOAN=@MATK
		END
END

GO
/****** Object:  StoredProcedure [dbo].[TAIKHOAN_DELETE]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|954|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[TAIKHOAN_DELETE](@MATK CHAR(10))
AS
BEGIN
	DELETE FROM TAIKHOAN WHERE TAIKHOAN.MATAIKHOAN=@MATK
END

GO
/****** Object:  StoredProcedure [dbo].[TaiKhoan_Get]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|961|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[TaiKhoan_Get](
	@MATK CHAR(10)
)
AS
BEGIN
IF(EXISTS( SELECT TAIKHOAN.MATAIKHOAN FROM TAIKHOAN WHERE MATAIKHOAN=@MATK))
BEGIN
	SELECT [MATAIKHOAN]
      ,[MAQUYEN]
      ,[HINHANH]
      ,[HOTEN]
      ,[KHACHHANG].*
  FROM [TAIKHOAN], [KHACHHANG]
  WHERE [TAIKHOAN].[SODIENTHOAI] = [KHACHHANG].[SODIENTHOAI] AND [TAIKHOAN].[MATAIKHOAN]=@MATK
	END
END

GO
/****** Object:  StoredProcedure [dbo].[TaiKhoan_Insert]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|961|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[TaiKhoan_Insert](
	@MATK CHAR(10),
	@MATKHAU CHAR(255)
)
AS
BEGIN
	SELECT TAIKHOAN.* FROM TAIKHOAN 
	WHERE TAIKHOAN.MATAIKHOAN=@MATK AND TAIKHOAN.MATKHAU=@MATKHAU
END

GO
/****** Object:  StoredProcedure [dbo].[TaiKhoan_Login]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|961|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[TaiKhoan_Login](
	@MATK CHAR(10),
	@MATKHAU CHAR(255)
)
AS
BEGIN
	
	SELECT [MATAIKHOAN]
      ,[MAQUYEN]
      ,[HINHANH]
      ,[HOTEN]
      ,[KHACHHANG].*
  FROM [TAIKHOAN], [KHACHHANG]
  WHERE [TAIKHOAN].[SODIENTHOAI] = [KHACHHANG].[SODIENTHOAI] AND [TAIKHOAN].[MATAIKHOAN]=@MATK AND [TAIKHOAN].MATKHAU = @MATKHAU
END

GO
/****** Object:  StoredProcedure [dbo].[TaiKhoan_Register]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TaiKhoan_Register](
	@MATK CHAR(10),
	@MATKHAU CHAR(255),
	@MAQUYEN CHAR(255),
	@HOTEN CHAR(50),
	@GIOITINH CHAR(5),
	@DIACHI CHAR(100),
	@EMAIL CHAR(255)
)
AS
BEGIN
IF(NOT EXISTS( SELECT TAIKHOAN.MATAIKHOAN,KHACHHANG.SODIENTHOAI FROM TAIKHOAN,KHACHHANG WHERE @MATK=TAIKHOAN.MATAIKHOAN AND @MATK=KHACHHANG.SODIENTHOAI ))
	BEGIN
	INSERT INTO TAIKHOAN
	           ([MATAIKHOAN]
           ,[MATKHAU]
           ,[MAQUYEN]
           ,[HOTEN]
           ,[SODIENTHOAI])
		VALUES(@MATK,@MATKHAU,@MAQUYEN,@HOTEN,@MATK)
	INSERT INTO KHACHHANG
           ([SODIENTHOAI]
           ,[TENKHACHHANG]
           ,[GIOITINH]
           ,[DIACHI]
           ,[EMAIL])
     VALUES
           (@MATK
           ,@HOTEN
           ,@GIOITINH
           ,@DIACHI
           ,@EMAIL)
		END
END

GO
/****** Object:  StoredProcedure [dbo].[TaiKhoan_Select]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|919|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[TaiKhoan_Select]
AS
BEGIN
	SELECT NHANVIEN.MANHANVIEN,TAIKHOAN.MATAIKHOAN,HOTEN,GIOITINH,NGAYSINH,ANH,PHANQUYEN.CHITIET,TAIKHOAN.MAQUYEN,MATKHAU 
	FROM TAIKHOAN,PHANQUYEN,NHANVIEN 
	WHERE TAIKHOAN.MATAIKHOAN=NHANVIEN.MANHANVIEN AND TAIKHOAN.MAQUYEN=PHANQUYEN.MAQUYEN
END

GO
/****** Object:  StoredProcedure [dbo].[TaiKhoan_Select_All]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|909|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

/* PROCEDURE TAI KHOAN, NHAN VIEN, PHAN QUYEN*/

CREATE PROCEDURE [dbo].[TaiKhoan_Select_All](@MANV CHAR(10))
AS
BEGIN
	SELECT NHANVIEN.MANHANVIEN,TAIKHOAN.MATAIKHOAN,MATKHAU,HOTEN,GIOITINH,NGAYSINH,ANH,DIACHI,DIENTHOAI,EMAIL,PHANQUYEN.CHITIET,TAIKHOAN.MAQUYEN FROM TAIKHOAN,PHANQUYEN,NHANVIEN 
	WHERE TAIKHOAN.MATAIKHOAN=NHANVIEN.MANHANVIEN AND TAIKHOAN.MAQUYEN=PHANQUYEN.MAQUYEN AND NHANVIEN.MANHANVIEN=@MANV
END

GO
/****** Object:  StoredProcedure [dbo].[TaiKhoan_Select_ChucVu]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|961|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[TaiKhoan_Select_ChucVu](@CHUCVU NVARCHAR(255))
AS
BEGIN
	SELECT NHANVIEN.MANHANVIEN,HOTEN,GIOITINH,NGAYSINH,ANH,PHANQUYEN.CHITIET,TAIKHOAN.MAQUYEN FROM TAIKHOAN,PHANQUYEN,NHANVIEN 
	WHERE TAIKHOAN.MATAIKHOAN=NHANVIEN.MANHANVIEN AND TAIKHOAN.MAQUYEN=PHANQUYEN.MAQUYEN AND PHANQUYEN.CHITIET=@CHUCVU
END

GO
/****** Object:  StoredProcedure [dbo].[TaiKhoan_Select_Quyen]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|937|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql


CREATE PROCEDURE [dbo].[TaiKhoan_Select_Quyen]
AS
BEGIN
	SELECT *
	FROM PHANQUYEN
	WHERE CHITIET!=N'Nhân viên quản lý'
END

GO
/****** Object:  StoredProcedure [dbo].[TaiKhoanKH_Select]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|1038|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[TaiKhoanKH_Select]
AS
BEGIN
	SELECT TAIKHOAN.MATAIKHOAN,TENKHACHHANG,GIOITINH,NGAYSINH,SODIENTHOAI,DIACHI,EMAIL,PHANQUYEN.CHITIET,TAIKHOAN.MAQUYEN,MATKHAU 
	FROM TAIKHOAN,PHANQUYEN,KHACHHANG
	WHERE TAIKHOAN.MATAIKHOAN=KHACHHANG.SODIENTHOAI AND TAIKHOAN.MAQUYEN=PHANQUYEN.MAQUYEN AND PHANQUYEN.MAQUYEN ='KH'
END

GO
/****** Object:  StoredProcedure [dbo].[TaiKhoanNV_Select]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: DB_HOA_CHAT_KIEN_VUONG.sql|928|0|C:\Users\natsw\Documents\DB_HOA_CHAT_KIEN_VUONG.sql

CREATE PROCEDURE [dbo].[TaiKhoanNV_Select]
AS
BEGIN
	SELECT NHANVIEN.MANHANVIEN,TAIKHOAN.MATAIKHOAN,HOTEN,GIOITINH,NGAYSINH,ANH,PHANQUYEN.CHITIET,TAIKHOAN.MAQUYEN,MATKHAU 
	FROM TAIKHOAN,PHANQUYEN,NHANVIEN 
	WHERE TAIKHOAN.MATAIKHOAN=NHANVIEN.MANHANVIEN AND TAIKHOAN.MAQUYEN=PHANQUYEN.MAQUYEN AND PHANQUYEN.MAQUYEN !='KH'
END

GO
/****** Object:  Table [dbo].[CAPNHATGIAHANG]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAPNHATGIAHANG](
	[MAHANGHOA] [char](10) NOT NULL,
	[GIA] [int] NULL,
	[NGAYCAPNHAT] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHOADON] [char](10) NOT NULL,
	[MAHANGHOA] [char](10) NOT NULL,
	[TENHANG] [char](255) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUHUY]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUHUY](
	[MAPHIEUHUY] [char](10) NOT NULL,
	[MAHANGHOA] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUHUY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MAPHIEUNHAP] [char](10) NOT NULL,
	[MAHANGHOA] [char](10) NOT NULL,
	[SOLUONG] [bigint] NULL,
	[DONGIA] [bigint] NULL,
	[TONGTIEN] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[MAHANGHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUXUAT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUXUAT](
	[MAPHIEUXUAT] [char](10) NOT NULL,
	[MAHANGHOA] [char](10) NOT NULL,
	[TENHANG] [nvarchar](255) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
	[TONGTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUXUAT] ASC,
	[MAHANGHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MAHANGHOA] [char](10) NOT NULL,
	[TENHANGHOA] [nvarchar](255) NULL,
	[GIA] [int] NULL,
	[MANHACUNGCAP] [char](10) NULL,
	[XUATXU] [nvarchar](255) NULL,
	[QUYCACH] [nvarchar](255) NULL,
	[MALOAI] [char](10) NULL,
	[TINHTRANG] [int] NULL,
	[MOTA] [nvarchar](500) NULL,
	[NGAYSANXUAT] [date] NULL,
	[HANSUDUNG] [date] NULL,
	[IMGAGESPATH] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHANGHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MATK] [char](10) NULL,
	[MAHOADON] [char](10) NOT NULL,
	[SODIENTHOAI] [char](10) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [char](255) NULL,
	[MANHANVIEN] [char](10) NULL,
	[NGAYTAO] [date] NULL,
	[NGAYGIAO] [date] NULL,
	[TONGTIEN] [int] NULL,
	[THANHTIEN] [int] NULL,
	[THANHTOAN] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](255) NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[SODIENTHOAI] [char](10) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [char](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SODIENTHOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LINHVUC]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LINHVUC](
	[MALINHVUC] [char](10) NOT NULL,
	[TENLINHVUC] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALINHVUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[MALOAI] [char](10) NOT NULL,
	[TENLOAI] [nvarchar](255) NULL,
	[MALINHVUC] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACUNGCAP] [char](10) NOT NULL,
	[TENNHACUNGCAP] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [char](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[NGAYSINH] [date] NULL,
	[ANH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[DIENTHOAI] [char](11) NULL,
	[EMAIL] [char](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANXET]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANXET](
	[MAHANGHOA] [char](10) NOT NULL,
	[SODIENTHOAI] [char](10) NOT NULL,
	[NGAY] [date] NULL,
	[NOIDUNG] [nvarchar](1000) NULL,
	[DIEM] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MAQUYEN] [char](10) NOT NULL,
	[CHITIET] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUHUY]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUHUY](
	[MAPHIEUHUY] [char](10) NOT NULL,
	[NGAYHUY] [date] NULL,
	[LYDOHUY] [nvarchar](255) NULL,
	[MANHANVIEN] [char](10) NOT NULL,
	[GHICHU] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUHUY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEUNHAP] [char](10) NOT NULL,
	[NGAYNHAP] [date] NULL,
	[TONGSONHAP] [int] NULL,
	[TONGTIEN] [bigint] NULL,
	[MANHANVIEN] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPHIEUXUAT] [char](10) NOT NULL,
	[NGAYXUAT] [date] NULL,
	[TONGSOXUAT] [int] NULL,
	[TONGTIEN] [int] NULL,
	[MANHANVIEN] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUXUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 17/12/2021 8:48:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATAIKHOAN] [char](10) NOT NULL,
	[MATKHAU] [char](255) NULL,
	[MAQUYEN] [char](10) NOT NULL,
	[HINHANH] [char](255) NULL,
	[HOTEN] [char](255) NULL,
	[SODIENTHOAI] [char](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CAPNHATGIAHANG]  WITH CHECK ADD  CONSTRAINT [FK_CAPNHATGIAHANG_HANGHOA] FOREIGN KEY([MAHANGHOA])
REFERENCES [dbo].[HANGHOA] ([MAHANGHOA])
GO
ALTER TABLE [dbo].[CAPNHATGIAHANG] CHECK CONSTRAINT [FK_CAPNHATGIAHANG_HANGHOA]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_CHITIETHDN] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_HOADON_CHITIETHDN]
GO
ALTER TABLE [dbo].[CHITIETPHIEUHUY]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_CHITIETPH] FOREIGN KEY([MAHANGHOA])
REFERENCES [dbo].[HANGHOA] ([MAHANGHOA])
GO
ALTER TABLE [dbo].[CHITIETPHIEUHUY] CHECK CONSTRAINT [FK_HANGHOA_CHITIETPH]
GO
ALTER TABLE [dbo].[CHITIETPHIEUHUY]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUHUY_CHITIETPH] FOREIGN KEY([MAPHIEUHUY])
REFERENCES [dbo].[PHIEUHUY] ([MAPHIEUHUY])
GO
ALTER TABLE [dbo].[CHITIETPHIEUHUY] CHECK CONSTRAINT [FK_PHIEUHUY_CHITIETPH]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPN_PHIEUNHAP] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPN_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_CTPX] FOREIGN KEY([MAPHIEUXUAT])
REFERENCES [dbo].[PHIEUXUAT] ([MAPHIEUXUAT])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_CTPX]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_LOAIHANG] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIHANG] ([MALOAI])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_LOAIHANG]
GO
ALTER TABLE [dbo].[LOAIHANG]  WITH CHECK ADD  CONSTRAINT [FK_LOAIHANG_LINHVUC] FOREIGN KEY([MALINHVUC])
REFERENCES [dbo].[LINHVUC] ([MALINHVUC])
GO
ALTER TABLE [dbo].[LOAIHANG] CHECK CONSTRAINT [FK_LOAIHANG_LINHVUC]
GO
ALTER TABLE [dbo].[NHANXET]  WITH CHECK ADD  CONSTRAINT [FK_NHANXET_HANGHOA] FOREIGN KEY([MAHANGHOA])
REFERENCES [dbo].[HANGHOA] ([MAHANGHOA])
GO
ALTER TABLE [dbo].[NHANXET] CHECK CONSTRAINT [FK_NHANXET_HANGHOA]
GO
ALTER TABLE [dbo].[NHANXET]  WITH CHECK ADD  CONSTRAINT [FK_NHANXET_KHACHANG] FOREIGN KEY([SODIENTHOAI])
REFERENCES [dbo].[KHACHHANG] ([SODIENTHOAI])
GO
ALTER TABLE [dbo].[NHANXET] CHECK CONSTRAINT [FK_NHANXET_KHACHANG]
GO
ALTER TABLE [dbo].[PHIEUHUY]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUHUY_HOADON] FOREIGN KEY([MAPHIEUHUY])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[PHIEUHUY] CHECK CONSTRAINT [FK_PHIEUHUY_HOADON]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_PHANQUYEN] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[PHANQUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_PHANQUYEN]
GO
USE [master]
GO
